
        <!-- <input type="text" name="search" placeholder="<%=book.title %>" required> -->
        <form action="books/show" method="post">
                Title: <input type="text" name="title" value="<%=book.title %>"> 
                <br>
                Author: <input type="text" name="author" value="<%=book.authors %>"> 
                <br>
                Description: <input type="text" name="description" value="<%=book.description %>"> 
                <br>
                Image url: <input type="text" name="image-url" value="<%=book.thumbnail %>"> 
                <br>
                <button type="submit">Add to your Bookshelf</button>
         </form>

